[run]
source = mower
omit =
    */tests/*
    */venv/*
    */site-packages/*
    setup.py
    */robohat_files/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
    except ImportError
    def __str__

[html]
directory = htmlcov