# Description: Example .env file the mower, update with your own values and save as .env in the project root

# Entries for Google Maps integration in User Interface
GOOGLE_MAPS_API_KEY=YOUR_API_KEY_HERE
GOOGLE_MAPS_MAP_ID=YOUR_MAP_ID_HERE
MAP_DEFAULT_LAT=39.095657 # Default latitude for the map displayed in the User Interface, update to your location
MAP_DEFAULT_LNG=-84.515959 # Default longitude for the map displayed in the User Interface, update to your location

# Entries for NTRIP Server for RTK GPS
Wifi_Networks_to_Scan=allzNTRIP_USER=NTRIP_user
NTRIP_PASS=NTRIP_pass
NTRIP_URL=NTRIP_url
NTRIP_MOUNTPOINT=NTRIP_mountpoint
NTRIP_PORT=NTRIP_port

# Entries for GPS
GPS_SERIAL_PORT=/dev/ttyACM0  # Serial port for GPS (UBLOX ZED-F9P in this example)
GPS_BAUD_RATE=115200
GPS_TIMEOUT=1

# Entries for Open Weather Map API for weather data
OPEN_WEATHER_MAP_API=OPEN_WEATHER_MAP_API

# Entries for RoboHAT MM1
MM1_SERIAL_PORT=/dev/serial0 # Serial port for MM1

# Entries for Camera Obstacle Detection and Video Streaming
OBSTACLE_MODEL_PATH=/path/to/object_identification_model # Path to the local Object Detection model
LABEL_MAP_PATH=/path/to/your/labelmap.txt
MIN_CONF_THRESHOLD=0.5
UDP_PORT=8000 # Port for streaming video

# Entries for optional Remote Raspberry Pi 5 with AI kit for mower enhancements
USE_REMOTE_DETECTION=True # Set to True if using a separate server for object detection, False if using the RPi running the mower
USE_REMOTE_PATH_PLANNING=True # Set to True if using a separate server for path planning, False if using the RPi running the mower
RPI5_IP=<IP_ADDRESS>  # e.g., 192.168.1.10, IP address of the object detection server if using a separate server to detect obstacles, such as a RPi 5 with AI Hat
MQTT_PORT=1883 # Port for MQTT communication between the mower and the remote server
SENSOR_TOPIC=mower/sensor_data # Topic for sensor data
COMMAND_TOPIC=mower/commands # Topic for commands
CLIENT_ID=MowerClient # Client ID for MQTT communication

# Optional entries for NGROK for remote access
USE_NGROK=False # Set to True if using NGROK for remote access, False if not using NGROK
NGROK_URL=YOUR_NGROK_URL # Use this if you have a reserved URL, otherwise, NGROK will assign a random URL

# Entries for eventual WiFi Scanning and mapping program
Wifi_Networks_to_Scan=all # Set to all to scan all networks, or specify a list of networks to scan