pyserial~=3.5
numpy~=1.26.4
python-dotenv~=1.0.1
shapely~=2.0.6
flask-socketio~=5.3.7
flask-cors~=5.0.0
pynmea2~=1.19.0
requests~=2.32.3
utm~=0.7.0
neopixel~=0.0.1
paho-mqtt~=2.1.0
Flask~=3.0.3
opencv-python~=4.10.0.84
pillow~=10.4.0
setuptools~=74.1.2