pyserial~=3.5
numpy~=1.26.4
python-dotenv
shapely~=2.0.6
flask-socketio
flask-cors
pynmea2~=1.19.0
requests~=2.32.3
utm~=0.7.0
neopixel~=0.0.1
paho-mqtt~=2.1.0
Flask
opencv-python
pillow~=10.4.0
setuptools~=74.1.2