<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robot Mower Web UI</title>
    <!-- Add your custom CSS and JavaScript files here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"> 
</head>
<body>
    <nav>
        <!-- Add your navigation menu with links to the different pages -->
        <a href="{{ url_for('status') }}">Status</a>
        <a href="{{ url_for('control') }}">Control</a>
        <a href="{{ url_for('area') }}">Mowing Area</a>
        <a href="{{ url_for('settings') }}">Settings</a>
        <a href="{{ url_for('camera_route') }}">Camera Stream</a> 
        </nav>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        {% block scripts %}
        {% endblock %}
        <script src="https://cdn.socket.io/5.6.1/socket.io.min.js"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
    </html>