{% extends "base.html" %}

{% block content %}
    <h1>Camera Stream</h1>
    <img id="camera_feed" alt="Camera Feed">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        var socket = io.connect('http://pimowbot.local:90');

        socket.on('update_frame', function(data) {
            var image = document.getElementById('camera_feed');
            image.src = 'data:image/jpeg;base64,' + data.frame;
        });

        // Request a new frame every 500ms (or whatever interval you prefer)
        setInterval(function() {
            socket.emit('request_frame');
        }, 500);
    </script>
{% endblock %}
