{% extends 'base.html' %}

{% block content %}
<h1>Camera Stream</h1>
<p>Camera streaming and controls go here.</p>

<!-- include the jsmpeg library -->
<script src="jsmpeg.min.js"></script>

<!-- set up the video player to receive the GStreamer stream -->
<video id="video" width="1280" height="720" autoplay></video>

<script>
      // create the player and connect to the WebSocket server
      var canvas = document.getElementById('video');
      var player = new JSMpeg.Player('ws://PiMowBot.local:8554/', {canvas: canvas});
</script>

{% endblock %}