{% extends "base.html" %}

{% block content %}
    <h1>Control</h1>
    <div class="main-content">
        <div class="control-panel">
            <h1>Manual Control</h1>
            <div id="controller-container">
                <canvas id="joystick" width="300" height="300"></canvas>
            </div>           
            <div class="mower-controls">
                <button class="btn btn-blades-on" onclick="toggleBlades('on')"><i class="fas fa-power-off"></i></button>
                <button class="btn btn-blades-off" onclick="toggleBlades('off')"><i class="fas fa-ban"></i></button>
                <button class="btn btn-start-mowing" onclick="startMowing()">Start Mowing</button>
                <button class="btn btn-stop-mowing" onclick="stopMowing()">Stop Mowing</button>
            </div>
        </div>
        <h1>Camera Stream</h1>
        <div class="video-stream">
            <img id="video_feed" alt="Loading video stream...">
        </div>
    </div>
{% endblock %}