{% extends "base.html" %}

{% block content %}
    <h1>Status</h1>
    <p>Battery Voltage: {{ battery_charge.battery_voltage.bus_voltage }}</p>
    <p>Battery Shunt Voltage: {{ battery_charge.battery_voltage.shunt_voltage }}</p>
    <p>Battery Charge Level: {{ battery_charge.battery_voltage.charge_level }}</p>
    <p>Solar Panel Voltage: {{ solar_status['Solar Panel Voltage'].bus_voltage }}</p>
    <p>Solar Panel Shunt Voltage: {{ solar_status['Solar Panel Voltage'].shunt_voltage }}</p>
    <p>Speed: {{ speed.speed }}</p>
    <p>Heading: {{ heading.heading }}</p>
    <p>Temperature: {{ temperature.temperature }}</p>
    <p>Humidity: {{ humidity.humidity }}</p>
    <p>Pressure: {{ pressure.pressure }}</p>
    <p>Left Distance: {{ left_distance.left_distance }}</p>
    <p>Right Distance: {{ right_distance.right_distance }}</p>
    <p>Mowing status: {{ mowing_status }}</p>
    <p>Next scheduled mow: {{ next_scheduled_mow }}</p>
    <img src="http://PiMowBot.local:8080" alt="Live view from Pi camera">
{% endblock %}
