{% extends "base.html" %}

{% block content %}
    <h1>Status</h1>
    <table class="status-table">
        <tr>
            <td class="text-color">Battery Status</td>
            <td>{{ battery_charge.battery_voltage.bus_voltage }} V</td>
            <td>{{ battery_charge.battery_voltage.shunt_voltage }} A</td>
            <td>{{ battery_charge.battery_voltage.charge_level }}</td>
        </tr>
        <tr>
            <td class="text-color">Solar Panel Status</td>
            <td>{{ solar_status['Solar Panel Voltage'].bus_voltage }} V</td>
            <td>{{ solar_status['Solar Panel Voltage'].shunt_voltage }} A</td>
        </tr>
        <tr>
            <td class="text-color">Speed</td>
            <td>{{ speed }} mi/h</td>
        </tr>
        <tr>
            <td class="text-color"></td>Heading</td>
            <td>{{ heading }} degrees</td>
        </tr>
        <tr>
            <td class="text-color">Temperature</td>
            <td>{{ temperature }} °F</td>
        </tr>
        <tr>
            <td class="text-color">Humidity</td>
            <td>{{ humidity }} %</td>
        </tr>
        <tr>
            <td class="text-color">Pressure</td>
            <td>{{ pressure }} hPa</td>
        </tr>
        <tr>
            <td class="text-color">Left Distance</td>
            <td>{{ left_distance }} cm</td>
        </tr>
        <tr>
            <td class="text-color">Right Distance</td>
            <td>{{ right_distance }} cm</td>
        </tr>
        <tr>
            <td class="text-color">Mowing status</td>
            <td>{{ mowing_status }}</td>
        </tr>
        <tr>
            <td class="text-color">Next scheduled mow</td>
            <td>{{ next_scheduled_mow }}</td>
        </tr>
    </table>
    <img src="http://PiMowBot.local:8080" alt="Live view from Pi camera">
{% endblock %}
