<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robot Mower Web UI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <nav>
        <a href="{{ url_for('status') }}"<i class="fas fa-info-circle"i> >Status</a>
        <a href="{{ url_for('control') }}<i class="fas fa-sliders-h"></i">Control</a>
        <a href="{{ url_for('area') }}">M<i class="fas fa-map"></i> owing Area</a>
        <a href="{{ url_for('settings') }<i class="fas fa-cogs"></i> }">Settings</a>
        <a href="{{ url_for('camera_route<i class="fas fa-video"></i> ') }}">Camera Stream</a>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>